.postlist-item{
  padding-bottom: 0.2em;
}

.postlist-link {
  color: black;
  font-size: 1.1em;
  padding: 1em;
}

.postlist-date {
  color: grey;
  font-size: 0.8em;
}

ul{
  list-style:none;
}

ul.postlist li:before {
  content: "\00BB";
}

.side-bar-list{
  padding-inline-start:0;
}

.side-bar-items{
  padding:0.5em;
  padding-left:0;
  border-bottom:1px solid lightgrey;
}

.side-bar-items a {
  color: darkslategrey;
  text-transform: capitalize;
}

.topics, .social {
  font-size: 1.2em;
  font-weight: bolder;
}

.social-icons {
  margin-top: 1em;
}
.social-icons a{
  color: #82517E;
  padding-right: 0.5em;
}

.social-icons a:hover{
  color: grey;
}

i {
  font-size: 2em;
}

a.post-tag.badge-danger.devlogs {
  background-color: #8A35E2 !important;
}

.post-tag.interviews {
  background-color: blue !important;
}

a.post-tag.bookclub {
  background-color: #18A2B8 !important;
}


a.post-tag.misc {
  background-color: #6BBA50 !important;
}
