---
layout: layouts/home.njk
eleventyNavigation:
key: Home
order: 1
---

<div class="row">
  <div class="col-sm-9">
    <h2>🚀 Latest Posts </h2>

    {% set postslist = collections.posts | head(8) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    <h2>💻 Dev Logs</h2>

    {% set postslist = collections.devlogs | head(-10) %}
    {% set postslistCounter = collections.devlogs | length %}
    {% include "postslist.njk" %}

    <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
  </div>
  <div class="col-sm-3 side-bar">
    <ul class="side-bar-list">
      <h4 class="topics">Topics</h4>
      {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="side-bar-items"><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    <br/>
    <ul class="side-bar-list">
      <h4 class="social">Social Links</h4>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/arpan-kc7/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.github.com/nipeshkc7/" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.dev.to/nipeshkc7" target="_blank">
          <i class="fab fa-dev"></i>
        </a>
        <a href="https://twitter.com/Nipeshkc7" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://stackoverflow.com/users/6470513/nipesh-kc" target="_blank">
          <i class="fab fa-stack-overflow"></i>
        </a>
      </div>
    </ul>
  </div>
</div>
